<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>
      Your project has been set up, <%= @user.first_name %>!
    </h1>
    <p>
      Check back into Ohu to keep up with <%= @project.title %>! Recruit members, gain votes, and get feedback to perfect your project!
    </p>
  </body>
</html>
