<% @project.comments.each do |comment| %>
  <div class="comment">
    <strong><%= comment.user.first_name %> <%= comment.user.last_name %></strong>
    <br><br>
    <%= comment.body %><br><br>
    <%= link_to 'Delete', project_comment_path(@project, comment), method: :delete %>
    <br><hr>
  </div>
<% end %>
